.foo {
	height: 150 px;
	width: 250px;
	padding: 10px 20px;
	border: 5px solid black;
	margin: 15px 20px 10px;

	/* border and padding are included*/
	/* in width and height */
	box-sizing: border-box;
}


